<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>886489779607-mbcqn30en32blfmpb2es4bq5j0dhrgfo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.886489779607-mbcqn30en32blfmpb2es4bq5j0dhrgfo</string>
	<key>API_KEY</key>
	<string>AIzaSyBlHrvmYzfLGXkyDXaWQw0Ph5xBBRsDKy8</string>
	<key>GCM_SENDER_ID</key>
	<string>886489779607</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fellopages.app</string>
	<key>PROJECT_ID</key>
	<string>com-socialengineaddons-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>com-socialengineaddons-demo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:886489779607:ios:944e77d4e8e609e6</string>
	<key>DATABASE_URL</key>
	<string>https://com-socialengineaddons-demo.firebaseio.com</string>
</dict>
</plist>