<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Fellopages</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Fellopages</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.4.4</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.fellopages.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fellopages</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.fellopages.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>App-Prefs</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>2.5.2</string>
	<key>FacebookAppID</key>
	<string>268976283635558</string>
	<key>FacebookDisplayName</key>
	<string></string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string></string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>This application requires bluetooth access to work.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>This application requires calender access to work.</string>
	<key>NSCameraUsageDescription</key>
	<string>To click images using Camera for the Profile Picture (during Sign up) and other photos across the app.</string>
	<key>NSContactsUsageDescription</key>
	<string>This application requires info about your contacts including their names, phone numbers and email addresses to help you find friends faster.</string>
	<key>NSHumanReadableCopyright</key>
	<string></string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>This application requires location services to show near-by location while checking-in and display user's current location on Maps at Members Page.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This application requires location services to show near-by location while checking-in and display user's current location on Maps at Members Page.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Recording</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Our application needs permission to write photos...</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>To choose pictures from the Photo Library to upload them as Profile Picture (during Sign up) and other photos acorss the app.</string>
	<key>NSRemindersUsageDescription</key>
	<string>This application requires reminders access to work.</string>
	<key>UIAppFonts</key>
	<array>
		<string>fontawesome-webfont.ttf</string>
		<string>Merriweather-Regular.ttf</string>
		<string>BebasNeue Regular.otf</string>
		<string>BebasNeue Bold.otf</string>
		<string>arial.ttf</string>
		<string>arialbd.ttf</string>
		<string>fa-brands-400.ttf</string>
		<string>fa-regular-400.ttf</string>
		<string>fa-solid-900.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<false/>
	<key>UILaunchStoryboardName</key>
	<string>Main</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
